<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
      <div class="firstcontainer">
        <div class="content">
          <img src="https://avisystems.in/wp-content/uploads/2022/10/AVI-Logo-Mobile-new.png" alt="pin logo" class="img1" />
          <p class="header">Maek an Account to see more</p>
          <form action="/register" method="post">
            <input type="email" name="email" placeholder="Email" class="detail" />
            <input type="text" name="username" placeholder="Username" class="detail" />
            <input type="text" name="fullname" placeholder="Full name" class="detail" /><br />
            <input type="password" name="password" placeholder="Password" class="detail" />
            <input type="submit" class="btn int" value="Register Account" >
          </form>
          
          <!-- <button>
          <a href="/login" class="btn ">LOG IN</a>
          </button>
          <br>
          <p class="or">OR</p> -->
          <!-- <button class="btn fbk">
            <i
              class="fab fa-facebook fa-lg"
              style="color: white; padding-right: 10px"
            ></i
            ><a href="#">Continue with Facebook</a></button
          ><br />
          <button class="btn ggl">
            <i
              class="fab fa-google"
              style="color: rgb(11, 241, 22); padding-right: 10px"
            ></i
            ><a href="#">Continue with Google</a>
          </button> -->
          <footer>
            <a  href="/login">
              <h2>
                <div class="logon">
                  Already Have Account || LOGIN
                </div>
              </h2>
            </a>
            <p>
              By continuing, you agree to Alexander's
              <b>Terms of Service, Privacy policy.</b>
            </p>
            <hr />
            
          </footer>
        </div>
        <div>
          .............
        </div>
      </div>
  </body>
</html>

